* {
    font-family:Verdana, Arial, sans-serif;
    color: skyblue;
}
body{
    background-image: url(../img/background-inicio-4E.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar, a{
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ,li{
    margin-left: 10px;
}

.menu,li.incio{
    margin-left: 0;
}

nav{
    background-color: #550404;
    color: #fff;
}

.logo img{
    display: block;
    width: 100px;
    height: auto;
}

a {
    
    color: rgb(255, 255, 255);
    font-weight: bold;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}



h1{
    background-color: steelblue; 
    font-weight: bold;
    border-radius: 5px; 
    padding: 0px 10px;
    color: rgb(255, 252, 252);
    width: 25%;
    margin: 20px auto;
}

.info-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 5px 5px;
}

.ubi-p{
    color: steelblue;
    text-align: center;
    /* font-weight: bold; */
    margin: 30px auto; 
}

/* div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 5px 25px;
} */

div>p{
    font-weight: bold;
    font-size: large;
}

p{
    margin-top: 0px;
}

.relleno {
    color: aliceblue;
    margin-bottom: 0px;
    font-weight: bold;
}

iframe{
    align-self: center;
}