* {
    font-family:Verdana, Arial, sans-serif;
    color: skyblue;
}
body{
    background-image: url(../img/background-inicio.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar a{
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin-left: 10px;
}

.menu li.incio{
    margin-left: 0;
}

nav{
    background-color: #550404;
    color: #fff;
}

.logo img{
    display: block;
    width: 100px;
    height: auto;
}

a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#carrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(231, 97, 7, 0.5);
    width: 650px;
    height: 434px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;

}

#carrousel-image{
    width: 100%;
    height: auto;
}

#carrousel-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#carrousel-buttons button{
    margin: 5px 0 ;
}

#btnPrev, #btnNext{
    background-color: steelblue;
    color: #fff;
    border: 2px solid black;
    padding: 5px 8px;
}


#currentIndex{
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    margin: 0 10px;
    font-weight: bold;
}

.relleno{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.relleno h2{
    font-size: 22px;
    margin-bottom: 10px;
}

.relleno h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.relleno p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.relleno ul{
    margin-bottom: 10px;
}

.relleno li{
    margin-bottom: 5px;
    color: #fff;
}

.title{
    font-size: 29px;
    text-align: center;
}